.btn i { transform: rotate(180deg); }
.card:hover { background-color: white; color: #0201019a; }
.card { cursor: pointer; transition: all 0.4s linear; }

.select { background-color: white; border-radius: 18px; width: 354px; height: 52px; }
.select option { padding: 10px }
.accnumber { width: 354px; height: 52px; border-radius: 18px; padding: 13px; background-color: #F4F5F7; border: none; margin: 10px; }
.acnum { margin: 10px; }
.form-section { height: 500px; }

.btn-bottom {
    border-radius: 50px;
    width: 100%;
    background-color: #0874f2;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 13px;
}

/* forms hidden by default */
#addSectionOne, #cashOut, #transfer, #bonus, #payBill { display: none; }

/* ✨ animations */
.form {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: none;
}
.form.show { display: block; }
.form.active { opacity: 1; transform: translateY(0); }
.form.hide { opacity: 0; transform: translateY(30px); }
